# --- Web Framework & Production Server ---
Flask==2.2.5
flasgger==0.9.7
gunicorn==23.0.0

# --- Scheduler  ---
APScheduler

# --- Database PostgreSQL ---
psycopg2-binary

# --- Web Scraping Stack ---
Scrapy
scrapy-playwright
playwright
parsel
Twisted

# --- Async/Events ---
asyncio

# --- Logging helpers ---
colorlog

# --- Utils ---
requests
