# --- Web Framework & Production Server ---
Flask
flasgger

# --- Scheduler  ---
APScheduler

# --- Database PostgreSQL ---
psycopg2-binary

# --- Web Scraping Stack ---
Scrapy
scrapy-playwright
playwright
parsel
Twisted

# --- Async/Events ---
asyncio

# --- Logging helpers ---
colorlog

# --- Utils ---
requests
